<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{{ url_for('students') }}" method="post">
                <h4>Add Students</h4>
                {% if mesage is defined and mesage %}
                    <div class="alert alert-warning">{{ mesage }}</div>
                {% endif %}
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                </div>
                
               
                <div class="form-group">
					<label for="course">Course:</label>
					<select class="form-control" id="course" name="course" required>
						<option value="" disabled selected>Select Course</option>
						<option value="computer_science">Computer Science</option>
						<option value="information_technology">Information Technology</option>
						<option value="bcom">BCom</option>
						<option value="bmm">BMM</option>
						<option value="bms">BMS</option>
                        <option value="bms">BCA</option>
                        <option value="bms">PHARMACY</option>
						<option value="CA">CA</option>
					</select>

                </div>


					<div class="form-group">
						<label for="Division">Division:</label>
						<input type="text" class="form-control" id="Division" name="Division" placeholder="Enter Division" required>
					</div>
	

					<div class="form-group">
						<label for="Rollno">Rollno:</label>
						<input type="number" class="form-control" id="Rollno" name="Rollno" placeholder="Enter Rollno" required>
					</div>

					

					<div class="form-group">
						<label for="Mentorname">Mentor Name</label>
						<input type="text" class="form-control" id="Mentorname" name="Mentorname" placeholder="Enter Mentor Name" required>
					</div>
	

	

			
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>


 </body>
</html>
